<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mik.user.mapper.SysUserRoleMapper">

    <select id="findUserRoles" resultType="com.mik.user.model.SysRole">
        select distinct r.* from sys_role r
        inner join sys_role_user u on r.id = u.role_id
        where u.user_id = #{userId}
    </select>

</mapper>